html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
    background-color: #131313;
    color: #e9e9e9;
    font-family: 'nHelvi77';
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* General Style */


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #818181;
    border-radius: 0px;
}


/* Handle on hover */

.paddigText {
    padding-left: 40px;
    padding-right: 40px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

a {
    text-decoration: none;
    color: #818181;
    text-align: center;
    transition: 0.25s;
}

a:hover {
    color: #f1f1f1;
}

.translateMain {
    transition: all 1s;
    transform: translateX(250px)
}

.transitionWrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.theRed {
    color: red;
}

.theBlue {
    color: #009fe3;
}

.fixedWidth {
    position: absolute;
    width: 100%;
}

.flexWrap {
    display: flex;
    justify-content: center;
    height: 100%;
}

.flexCenter {
    align-self: center;
    padding: 20px;
}

.height {
    height: 100%;
}

.textCenter {
    text-align: center;
}


/* Container */

#app {
    position: absolute;
    height: 100%;
    width: 100%;
}


/* Pages */

.theLine {
    position: absolute;
    bottom: 10%;
    display: block;
    width: 100%;
    border-bottom: 0.1em solid #e9e9e9;
    border-radius: 100% 50%;
}


/* SubPages */

.subFlex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
}

.subFlex.Pa {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.bottomMarg {
    margin-bottom: 0px
}


/* LineFancy */

path {
    fill: none;
    stroke: #ddd;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
    shape-rendering: auto;
}

.placeBottom {
    bottom: 0px;
}


/* Fontsizes */

@font-face {
    font-family: 'nHelvi77';
    src: url('../fonts/neuehelveticacondensedbq-roman-webfont.woff2') format('woff2'), url('../fonts/neuehelveticacondensedbq-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.folio {
    font-family: folio-condensed, sans-serif;
}

.pageHeadline {
    font-family: folio-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10em;
}

.bigFontSize {
    font-family: folio-condensed, sans-serif;
    font-size: 4em;
}

.midFontSize {
    font-family: folio-condensed, sans-serif;
    font-size: 1.5em;
}

.smallFontSize {
    font-family: folio-condensed, sans-serif;
    font-size: 1.3em;
}


/* Media Querys */


/* Big */

@media only screen and (max-width: 1024px) {
    .pageHeadline {
        font-size: 7.5em;
    }
    .bigFontSize {
        font-size: 3.5em;
    }
    .smallFontSize {
        font-size: 1.2em;
    }
}


/* Mid */

@media only screen and (max-width: 768px) {
    .pageHeadline {
        font-size: 5em;
    }
    .bigFontSize {
        font-size: 2.5em;
    }
    .midFontSize {
        font-size: 1.3em;
    }
    .smallFontSize {
        font-size: 1em;
    }
    .paddigText {
        padding-left: 10%;
        padding-right: 5%;
    }
}


/* Small */

@media only screen and (max-width: 500px) {
    .pageHeadline {
        font-size: 4em;
    }
    .bigFontSize {
        font-size: 2em;
    }
    .midFontSize {
        font-size: 1.3em;
    }
    .smallFontSize {
        font-size: 1em;
    }
    /* refrac */
    .imgContainer {
        max-width: 90%;
    }
    .transitionWrap {
        /* overflow-y: auto; */
    }
    .subFlex.Pa {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }
    .bottomMarg {
        margin-bottom: 100px
    }
}


/* Very Small */

@media only screen and (max-width: 400px) {
    .pageHeadline {
        font-size: 3.5em;
    }
}


/* Enter and leave animations can use different */


/* durations and timing functions.              */

.slideTopBot-enter-active,
.slideBotTop-enter-active,
.slideSwitch-enter-active {
    transition: all 1s linear;
}

.slideTopBot-leave-active,
.slideBotTop-leave-active,
.slideSwitch-leave-active {
    transition: all 1s linear;
}


/* .slide-fade-leave-active below version 2.1.8 */

.slideTopBot-enter {
    transform: translateY(-100%);
}

.slideTopBot-enter-to,
.slideBotTop-enter-to {
    transform: translateY(0);
}

.slideTopBot-leave,
.slideBotTop-leave {
    transform: translateY(0);
}

.slideTopBot-leave-to {
    transform: translateY(100%);
}


/* backwards */

.slideBotTop-enter {
    transform: translateY(100%);
}

.slideBotTop-leave-to {
    transform: translateY(-100%);
}


/* else case */

.slideSwitch-enter {
    opacity: 0;
}

.slideSwitch-enter-to {
    opacity: 1;
}

.slideSwitch-leave {
    opacity: 1;
}

.slideSwitch-leave-to {
    opacity: 0;
}

.portfolio-enter-active,
.portfolio-leave-active {
    /* transition: flex 10.5s ease-out; */
    /* flex: 100% */
    /* width: 100%; */
    /* transition: width 10s; */
}

.portfolio-enter,
.portfolio-leave-to
/* .fade-leave-active in <2.1.8 */

{
    /* flex: 0%; */
    /* width: 0%; */
    /* height: 0; */
    /* opacity: 0 */
}